<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
    </head>
    <body>
        <h1 style="text-align:center">Thông báo về hoạt động sắp tới</h1>
        <ul>
            <li><p>Tên hoạt động: <b>{{Ten}}</b></p></li>
            <li><p>Ngày: <b>{{Ngay}}</b></p></li>
            <li><p>Địa điểm: <b>{{DiaDiem}}</b></p></li>
        </ul>
    </body>
</html>