<!DOCTYPE html>
<html>
<head>
	<title>Thêm Trợ lý sinh viên</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-tlsv';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-tlsv/xoa-tlsv/<%=tlsv[0].Ten%>"><button type="button" name="button">Xóa TLSV</button></a>
	<form action="/admin/danh-sach-tlsv/sua-tlsv/<%=tlsv[0].Ten%>" method="post">
		<label for="MaKhoa">Khoa: </label>
		<select name="MaKhoa">
			<% for (var i = 0; i < ds_khoa.length; i++) { %>
        <%if(tlsv[0].MaKhoa == ds_khoa[i].MaKhoa){%>
          <option selected value="<%= ds_khoa[i].MaKhoa %>"><%= ds_khoa[i].Ten %></option>
        <%}else{%>
          <option value="<%= ds_khoa[i].MaKhoa %>"><%= ds_khoa[i].Ten %></option>
        <%}%>
			<% } %>
		</select> <br>
		<input value="<%= tlsv[0].Ten%>" type="text" name="Ten" placeholder="Tên"><br>
		<input value="<%= tlsv[0].SDT%>" type="text" name="SDT" placeholder="Số điện thoại"><br>
		<input value="<%= tlsv[0].Email%>" type="email" name="email" placeholder="Email"><br>
		<input value="<%= tlsv[0].PhongLamViec%>" type="text" name="PhongLamViec" placeholder="Phòng làm việc"><br>
		<input type="submit" value="Cập nhật">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
