<!DOCTYPE html>
<html>
<head>
	<title>Sửa Loại hoạt động</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-lhd';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-lhd/xoa-lhd/<%= lhd[0].MaLoai %>"><button type="button" name="button">Xóa Loại Hoạt Động</button></a>
	<form action="/admin/danh-sach-lhd/sua-lhd/<%= lhd[0].MaLoai %>" method="post">
		<input type="text" value="<%= lhd[0].MaLoai %>" name="MaLoai" placeholder="Mã Loại hoạt động"><br>
		<input type="text" value="<%= lhd[0].Ten %>" name="Ten" placeholder="Tên"><br>
		<input type="text" value="<%= lhd[0].TongDiemToiDa %>" name="TDTD" placeholder="Tổng điểm tối đa"><br>
		<input type="submit" value="Cập nhật">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
